doctype html
html
  head
    title beacon logged in
    link(rel='stylesheet' href='/static/beacon.css')
  body
    h1 beacon logged in
    p you're a normal user
    form(action='/login/logout' method='post')
      button Log Out
